<div class="container form1">
  <div class="form-container p-3 my-3 bg-white">
    <h2>New Cocktail</h2>s
    <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>

</div>
